.housesBanner {
    background-image: url('/images/grey_wash_wall.png');
    width: 10%;
    min-height: 100vh;
}

.sigil {
    width: 70px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sigilArryn {
    background-image: url('../../images/arrynSigil.png');
}

.sigilBaratheon {
    background-image: url('../../images/baratheonSigil.png');
}

.sigilBolton {
    background-image: url('../../images/boltonSigil.png')
}

.sigilCafferen {
    background-image: url('../../images/cafferenSigil.png');
}

.sigilClegane {
    background-image: url('../../images/cleganeSigil.png')
}

.sigilFell {
    background-image: url('../../images/fellSigil.png')
}

.sigilAlchemist {
    background-image: url('../../images/fireSigil.png')
}

.sigilForrester {
    background-image: url('../../images/forresterSigil.png')
}

.sigilFrey {
    background-image: url('../../images/freySigil.png')
}

.sigilGrandison {
    background-image: url('../../images/grandisonSigil.png')
}

.sigilGreyjoy {
    background-image: url('../../images/greyjoySigil.png')
}

.sigilKingsguard {
    background-image: url('/images/kingsguardSigil.png')
}

.sigilLannister {
    background-image: url('../../images/lannisterSigil.png')
}

.sigilMartell {
    background-image: url('../../images/martellSigil.png')
}

.sigilredwyne {
    background-image: url('../../images/redwyneSigil.png')
}

.sigilReed {
    background-image: url('../../images/reedSigil.png')
}

.sigilIron,
.sigilTargaryen {
    background-image: url('../../images/targaryenSigil.png')
}

.sigilStark {
    background-image: url('../../images/starkSigil.png');
}

.sigilTarly {
    background-image: url('../../images/tarlySigil.png')
}

.sigilTully {
    background-image: url('../../images/tullySigil.png')
}

.sigilTyrell {
    background-image: url('../../images/tyrellSigil.png')
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .housesBanner{
        width: 100%;
        min-height: auto;
        display: flex;
        margin-bottom: 20px;
    }
    .sigil{
        width: 50px;
    }
}

